body {
    background-color: #efefef;
}

h1 {
    text-align: center;
    vertical-align: top;
}

h2 {
    text-align: left;
}
h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.esquerda {
    background-color: #ca2826;
    float: left;
    text-align: center;
    width: 50%;
    height: 60vh;
    line-height: 60vh;
}

.direita {
    background-color: #b89fb4;
    float: right;
    text-align: center;
    width: 50%;
    height: 60vh;
    line-height: 60vh;
}

.esquerda:hover {
    cursor: pointer;
    background-color: #a82421;
    font-size: 120%;
    transition: 0.1s;
}

.direita:hover {
    cursor: pointer;
    background-color: #b499af;
    font-size: 120%;
    transition: 0.1s;
}

#instagram {
    max-width: 50px;
}

#foto {
    /*float: left;*/
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}

#fotinha {
    max-height: 600px;
    /*margin-right: 0 0 0 0;
    padding: 0;*/
    max-width: 70%;
}

#texto {
    width: 80%;
    /*float: right;
    height: 600px;
    padding-right: 0;
    margin: 0 0 0 0;
    background-color: white;
    text-align: justify;*/
    margin-bottom: 20px;
}

#left {
    float: left;
    width: 50%;
    height: 100px;
    margin: 0;
}

#right {
    float: right;
    width: 50%;
    height: 100px;
    margin: 0;
}

#descricao {
    width: 60%;
    font-size: 17px;
}

#rodape {
    text-align: center;
    margin-top: 60vh;
    display: block;
}

#rodape:hover {
    cursor: pointer;
    font-size: 105%;
    transition: 0.1s;
}

header {
  width: 500px;
  height: 45px;
}

#a {
    margin-top: 12px;
    float: left;
    font-weight: bold;
}

#b {
    display: inline-block;
    margin-top: 7px;
}

@media (min-width: 600px) {
    #foto {
        float: left;
        width: 40%;
    }
}

/*/835071338*/